<div>
  <h1 style="text-align: center">提交试卷订单流程及注意事项</h1>
  <ul class="nav nav-tabs" id="myTab">
  <li class="active"><a href="#order1" data-toggle="tab">一、新建并填写订单</a></li>
  <li><a href="#order2" data-toggle="tab">二、确认并打印纸质订单</a></li>
  
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="order1">
    <div class="well">
  <h3>一、新建并填写订单</h3>

  <ol>
    <li>
      点击”新建订单“按钮进入操作界面。
    </li>
    <li>
      高一订单填写每科试卷份数，高二订单填写文理科考生人数
    </li>
    <li>
      经办人和电话必须填写。
    </li>
    <li>
      点击“提交订单”按钮进入下一步骤“确认订单”
    </li>
  </ol>
  <%= image_tag "order1.png",:class=>"img-polaroid" %>  
</div>
  </div>
  <div class="tab-pane" id="order2">
    <div class="well">
  <h3>二、确认并打印纸质订单</h3>

  <ol>
    <li>
      检查订单，如有错误点击“修改订单”链接进入修改页面。
    </li>
    <li>
      确认订单无误，请点击“确认并进入打印页面”，确认并进去打印页面。
    </li>
    <li>
     打印纸质订单。请在打印的纸质订单上加盖学校印章，区属学校上报所属区（县）教育局教研室，市直学校上报市教育局教研室。
    </li>
  </ol>
  <%= image_tag "order2.png",:class=>"img-polaroid" %>
</div>
  </div>
  
</div>
</div>