<div>
  <h1 style="text-align: center">完善学校联系人信息说明</h1>
  <ul class="nav nav-tabs" id="myTab">
  <li class="active"><a href="#home" data-toggle="tab">一、操作说明</a></li>
  
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="home">
    <div class="well">
  <h3>一、操作说明</h3>

  <ol>
    <li>
      点击页面右上角按钮，在下拉菜单中选择“个人设置”,进入个人信息设置页面。
      <%= image_tag "person1.png",:class=>"img-polaroid" %>
    </li>
    <li>
      填写真实姓名，手机号码，电子邮箱，点击“保存修改”按钮
    </li>
    
  </ol>
  <%= image_tag "person2.png",:class=>"img-polaroid" %>
</div>
  </div>
  <div class="tab-pane" id="profile">
    <div class="well">
  <h3>二、确认并打印纸质订单</h3>

  <ol>
    <li>
      检查订单，如有错误点击“修改订单”链接进入修改页面。
    </li>
    <li>
      确认订单无误，请点击“确认并进入打印页面”，确认并进去打印页面。
    </li>
    <li>
     打印纸质订单。请在打印的纸质订单上加盖学校印章，区属学校上报所属区（县）教育局教研室，市直学校上报市教育局教研室。
    </li>
  </ol>
  <%= image_tag "order2.png",:class=>"img-polaroid" %>
</div>
  </div>

</div>
</div>