<div>
  	<h1 style="text-align: center">提交成绩分析报告流程及注意事项</h1>
  	<div class="well">
  		<ul>				    
		    <li>
		    	<h3>一、下载模板，填充数据</h3>
		    	<p>
				请选择下载相应模板，“语数英”，“物理化学生物政治历史化学”有不同的模板。
				</p>
		    </li>
		    <li>
		    	<h3>二、上传文件</h3>
		    	<p>
		    		选择相应学科，上传文件，仅支持.doc文档。
		    	</p>
		    	
		    </li>
		    <li>
		    	<h3>三、核查无误，确认数据</h3>
		    	<p>
		    		核查无误后，请点击“确认”按钮，确认上传的文件。
		    	</p>
		    	<p>
		    		确认后如仍需修改，请联系区负责人。
		    	</p>
		    </li>
		</ul>
		
	
					  
		  		<%= image_tag "report.png",:class=>"img-polaroid" %>
	</div>

</div>