<div class="row">
        <!-- <div class="col-md-3">
          <div class="panel panel-default">
            <div class="panel-heading">公告</div>
            <div class="panel-body">
              Panel content
            </div>
          </div>
        </div>
        <div class="col-md-9"> -->
          <% if @exams.any? %>
          <% @exams.each do |exam| %>
          <div class="jumbotron">
            <h1><%= exam.name %></h1>
            <!-- <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet.</p> -->
            <p>
              <%= link_to '进入监测项目',exam,{:class=>"btn btn-lg btn-success"} %>
            
            </p>
          </div>
          <% end%>
          <% else %>
          <div class="jumbotron">
            <h1>当前未有正在进行的教学质量监测项目，请稍候……</h1>
            <!-- <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet.</p> -->
            <p>
             
            
            </p>
          </div>
          <% end %>
    <!-- </div> -->
</div>