<%= render '/exams/nav' %>
<ul class="nav nav-tabs nav-justified">
  <li class="active"><a href="#" >创建订单</a></li>
  <li class="disabled">
    <a href="#" >确认或修改订单</span></a>
    
  </li>
  <li class="disabled"><a href="#">打印订单</a></li>
</ul>
<div class="panel panel-default" >
  <div class="panel-body">
    <%= render 'form' %>
  </div>
</div>