<%= render 'nav' %>
      <div class="row">
      	
      	<div class="col-md-3">
      		<div class="panel panel-default">
			  <div class="panel-heading">最新动态</div>
			  <div class="panel-body">
			    Panel content
			  </div>
			</div>
      	</div>
      	<div class="col-md-3">
      		<div class="panel panel-default">			  
			  <div class="panel-body">
			    <%= link_to '试卷订单',exam_orders_path(@exam),{:class=>"btn btn-primary btn-lg btn-block"} %>
			          <h3>流程</h3>
			          <ol>
						  <li>点击”新建订单“按钮进入操作界面。</li>
						  <li>高一订单填写每科试卷份数，高二订单填写文理科考生人数。</li>
						  <li>经办人和电话必须填写。</li>
						  <li>点击“提交订单”按钮进入下一步骤“确认订单”</li>
						</ol>
			         
			          <p><a class="btn btn-default" href="#">详细帮助 &raquo;</a></p>
			  </div>
			</div>
      	</div>
      	<div class="col-md-3">
      		<div class="panel panel-default">
			  
			  <div class="panel-body">
			  <%= link_to '考试','',{:class=>"btn btn-primary btn-lg btn-block"} %>
			          <h3>流程</h3>
			          <ol>
						  <li>点击”新建订单“按钮进入操作界面。</li>
						  <li>高一订单填写每科试卷份数，高二订单填写文理科考生人数。</li>
						  <li>经办人和电话必须填写。</li>
						  <li>点击“提交订单”按钮进入下一步骤“确认订单”</li>
						</ol>
			         
			          <p><a class="btn btn-default" href="#">详细帮助 &raquo;</a></p>
			  </div>
			</div>
      	</div>
      	<div class="col-md-3">
      		<div class="panel panel-default">
			  
			  <div class="panel-body">
			    <%= link_to '上传成绩','',{:class=>"btn btn-primary btn-lg btn-block"} %>
			          <h3>流程</h3>
			          <ol>
						  <li>点击”新建订单“按钮进入操作界面。</li>
						  <li>高一订单填写每科试卷份数，高二订单填写文理科考生人数。</li>
						  <li>经办人和电话必须填写。</li>
						  <li>点击“提交订单”按钮进入下一步骤“确认订单”</li>
						</ol>
			         
			          <p><a class="btn btn-default" href="#">详细帮助 &raquo;</a></p>
			  </div>
			</div>
      	</div>
      </div>